* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Serif', serif;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 7px;
}

.d-flex {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.position-relative {
    position: relative;
}

.text-center {
    text-align: center;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    display: inline-block;
    object-fit: cover;
}

.w-1 {
    width: 100%;
}

.w-2 {
    width: 50%;
}

.w-3 {
    width: 33.33%;
}

.w-4 {
    width: 25%;
}

.w-5 {
    width: 20%;
}



/* ///  HEADER  /// */

header nav ul li a {
    font-size: 17px;
    margin-right: 15px;
    color: #000000;
    font-weight: 600;
    transition: 0.4s all;
}

header nav ul li a:hover{
    color: #20277c;
}

header .header-btn {
    background-color: #db2319;
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 34px;
    font-weight: 600;
}

header .toggle-btn{
    color: #20277c;
    display: none;
    font-size: 24px;
}

/* SOME ELEMENT COMMON CSS */

header .header-btn i,
.banner-content a i,
.about-us-content a i,
.why-choose-content a i,
.trip-item a i,
.contact-us .contact-us-content a i {
    display: inline-block;
    margin-left: 10px;
    transform: translateX(0);
    transition: 0.4s all;
}
header .header-btn:hover i,
.banner-content a:hover i,
.about-us-content a:hover i,
.why-choose-content a:hover i,
.trip-item a:hover i,
.contact-us .contact-us-content a:hover i {
    transform: translateX(10px);
}

/* /// MAIN /// */

/* /// BANNER /// */

.banner {
    background: #FFF4F0;
    padding: 80px 0;
    overflow: hidden;
}

.banner .w-2 .banner-items .banner-img:first-child {
    width: 300px;
    height: 450px;
    border-radius: 200px;
    box-shadow: -14px 0px 0px 0px #C0CCD4;
    transform: translateX(50%);
}

.banner .w-2 .banner-items .banner-img:last-child {
    border-radius: 200px;
    box-shadow: -10px 0px 0px 0px #ffffff;
    width: 240px;
    height: 360px;
    position: absolute;
    bottom: -20px;
    right: 6%;
}

.banner .w-2 .banner-items .banner-img img {
    width: 100%;
    height: 100%;
}

.banner-items .vector-8img {
    position: absolute;
    top: -35px;
    right: -315px;
    width: 315px;
}

.banner-items .vector-13img {
    position: absolute;
    bottom: -85px;
    left: 0;
    width: 80px;
}

.banner-items .vector-4img {
    position: absolute;
    top: -130px;
    right: -55px;
    width: 140px;
}

.banner-items .vector-3img {
    position: absolute;
    top: 40%;
    left: -54%;
    width: 80px;
}

.banner-items .vector-2img {
    position: absolute;
    bottom: 0;
    left: -38%;
    width: 80px;
}

.banner .banner-content h3 {
    color: #21277B;
    font-size: 22px;
    font-weight: 600;
}

.banner .banner-content h1 {
    color: #db2319;
    font-size: 70px;
    margin: 20px 0;
}

.banner .banner-content p {
    color: #555555;
    font-size: 14px;
    max-width: 400px;
    margin: 0 auto;
    font-weight: 500;
}

.banner .banner-content a {
    background-color: #db2319;
    color: white;
    padding: 12px 20px;
    border-radius: 34px;
    font-weight: 500;
    margin-top: 25px;
}

.banner-items .banner-content img:nth-child(3) {
    position: absolute;
    top: 50px;
    right: -40px;
}

.banner .banner-img-items img:first-child {
    position: absolute;
    bottom: 225px;
    right: 10px;
    width: 50px;
}

.banner .banner-img-items img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
}


/* /// ABOUT-US /// */

.about-us {
    margin: 100px 0;
}

.about-us-content {
    margin: 0 20px;
}

.about-us-content h5 {
    font-size: 24px;
    font-weight: 500;
    color: #db2319;
}

.about-us-content h3 {
    font-size: 44px;
    color: #21277B;
    margin: 12px 0;
}

.about-us-content p {
    color: #555555;
    font-size: 16px;
    text-align: justify;
}

.about-us-content a {
    background-color: #db2319;
    color: white;
    padding: 12px 20px;
    border-radius: 34px;
    font-weight: 500;
    margin: 25px 0 85px 0;
}

.counter-items h2 {
    font-size: 40px;
    color: #111827;
    display: inline-block;
}
.counter-items span{
    font-size: 40px;
    font-weight: 600;
    color: #111827;
}
.counter-items h6 {
    font-size: 32px;
    color: #20277c;
    font-weight: 600;
}

.counter-items::before {
    content: '';
    background: url(../img/vector-10.png);
    position: absolute;
    bottom: -65px;
    left: -30px;
    width: 140px;
    height: 100px;
    background-size: contain;
}

.counter-items::after {
    content: '';
    background: url(../img/vector-11.png);
    position: absolute;
    top: -28px;
    right: 0;
    opacity: 0.4;
    width: 85px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
}


/* /// CATEGORY /// */

.category {
    margin-bottom: 65px;
}

.category-title h5 {
    font-size: 24px;
    font-weight: 500;
    color: #db2319;
}

.category-title h2 {
    font-size: 44px;
    color: #21277B;
    margin: 12px 0;
}

.category-items {
    margin: 60px 10px;
    padding: 10px;
    border-radius: 24px;
    transition: 0.4s all;
    background-color: #ffffff;
}

.category-items::after {
    content: '';
    width: 80px;
    height: 80px;
    background-color: #20277c;
    position: absolute;
    bottom: -25px;
    left: -18px;
    border-radius: 20px;
    transition: 0.6s all;
    opacity: 0;
    z-index: -9;
}

.category-items:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
}

.category-items:hover::after {
    opacity: 1;
}

.category-items img {
    width: 100px;
    height: 100px;
}

.category-items h3 {
    font-size: 22px;
    font-weight: 600;
    color: #20277c;
    margin: 12px 0;
}

.category-items p {
    font-size: 14px;
    color: #555555;
}

.category-items a {
    color: #20277c;
    margin: 15px 0;
    font-weight: 500;
}

/* /// WHY-CHOOSE-US ///  */

.why-choose-us {
    background: #111827;
    z-index: -1;
    padding: 80px 0;
    margin: 70px 0 0 0;
    overflow: hidden !important;
}

.why-choose-img {
    margin-left: 65px;
}

.why-choose-content h2 {
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
}

.why-choose-content p {
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    margin: 22px 0;
}

.why-choose-content a {
    background-color: #db2319;
    color: white;
    padding: 12px 20px;
    border-radius: 34px;
    font-weight: 500;
}

.why-choose-img::after {
    content: '';
    position: absolute;
    top: -10%;
    left: 30%;
    width: 70%;
    height: 90%;
    background-image: url(../img/why-choose.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* /// VALUE /// */

.value {
    transform: translateY(-106px);
    z-index: 1;
}

.value ul li {
    margin-right: 22px;
}

.value p {
    font-size: 18px;
    background-color: #ffffff;
    font-weight: 600;
    padding: 18px 10px;
    border-radius: 0 0 16px 16px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
}

.value h2 {
    border-radius: 16px 16px 0 0;
    font-size: 48px;
    font-weight: 800;
    background-image: url(../img/gradient-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    padding: 25px;
}

/* /// PLAN YOUR TRIP /// */

.plan-your-trip {
    margin-bottom: 80px;
}

.trip-title h5 {
    font-size: 24px;
    font-weight: 500;
    color: #db2319;
}

.trip-title h2 {
    font-size: 44px;
    color: #21277B;
    margin: 12px 0;
}

.trip-inner {
    margin: 60px 0;
}

.plan-your-trip .trip-item img {
    width: 250px;
}

.trip-item h3 {
    margin-top: 8px;
    font-size: 20px;
    font-weight: 400;
    color: #20277c;
}

.trip-item p {
    font-size: 15px;
    color: #555555;
    margin: 10px 0;
}

.trip-item p i {
    font-size: 14px;
    color: #db2319;
    margin-right: 7px;
}

.trip-item a {
    background-color: #db2319;
    color: white;
    padding: 12px 20px;
    border-radius: 34px;
    font-weight: 500;
    margin-top: 6px;
    transition: 0.4s all;
    border: 2px solid #db2319;
}
.trip-item a:hover{
    background-color: transparent;
    color: #db2319;
}
.slide-btn a {
    background-color: #db2319;
    color: white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-weight: 500;
    margin-top: 6px;
}

/* /// CLIENTS-REVIEWS /// */


.review-title h5 {
    font-size: 24px;
    font-weight: 500;
    color: #db2319;
}

.review-title h2 {
    font-size: 44px;
    color: #21277B;
    margin: 12px 0;
}

.review-inner {
    background-image: url(../img/review-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.review-item {
    margin: 100px 0;
}


.slick-slide img{
    margin: 0 auto;
}
.slick-prev::before{
    content: "\f053";
    font-family: "FontAwesome";
    font-size: 28px;
    padding: 15px 20px;
    border-radius: 50%;
    color: #ffffff;
    background-color: #db2319;
}
.slick-next::after{
    content: "\f054";
    font-family: "FontAwesome";
    font-size: 28px;
    padding: 15px 20px;
    border-radius: 50%;
    color: #ffffff;
    background-color: #db2319;
}
.slick-prev{
    left: 25px;
    z-index: 1;
}
.slick-next{
    right: 75px;
}

 .review-item p {
    max-width: 700px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    color: #555555;
}
.active-p{
    display: none;
}

.review-inner .review-item h3 {
    font-size: 24px;
    color: #20277c;
    font-weight: 600;
    margin: 16px 0;
    position: relative;
}

.review-inner .review-item h3::after {
    content: '';
    width: 60px;
    height: 2px;
    background-color: #db2319;
    position: absolute;
    bottom: -12%;
    left: 50%;
    transform: translateX(-50%);
}

.review-inner .review-item i {
    color: #FC8211;
}

.review-item::before {
    content: '';
    background-image: url(../img/review-vec-1.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 12%;
    left: 20%;
    width: 140px;
    height: 140px;
}

.review-item::after {
    content: '';
    background-image: url(../img/review-vec-2.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: -30%;
    right: 10%;
    width: 140px;
    height: 140px;
}

/* /// GALLERY /// */

.gallery {
    margin: 100px 0;
}

.gallery-title h5 {
    font-size: 24px;
    font-weight: 500;
    color: #db2319;
}

.gallery-title h2 {
    font-size: 44px;
    color: #21277B;
    margin: 14px 0;
}

.gallery-title p {
    font-size: 15px;
    color: #555555;
    max-width: 700px;
    margin: 0 auto 40px auto;
}

.gallery-inner {
    columns: 3;
    column-gap: 20px;
}

.gallery-items img {
    width: 430px;
    margin-bottom: 5px;
    border: 1px solid #ededed;
    padding: 10px;
    border-radius: 6px;
}
.active-gallery{
    display: none;
}

/* /// RESALE-WORKS /// */


.resale-works .resale-works-content h2 {
    font-size: 44px;
    font-weight: 700;
    color: #21277B;
    margin-bottom: 46px;
}

.resale-works .resale-works-items {
    margin: 18px 0;
}

.resale-works .resale-works-items img {
    width: 100px;
    margin-right: 26px;
}

.resale-works .resale-works-items h4 {
    font-size: 28px;
    font-weight: 600;
    color: #20277c;
}

.resale-works .resale-works-items p {
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}

.resale-works-img {
    overflow: hidden;
    margin-left: 30px;
}

/* /// CONTACT US /// */

.contact-us {
    background-color: #db2319;
    padding: 70px 0;
    margin-top: 80px;
}

.contact-us .contact-us-content h2 {
    font-size: 44px;
    font-weight: 700;
    color: white;
}

.contact-us .contact-us-content p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    max-width: 650px;
    margin: 18px auto;
    line-height: 1.5;
}

.contact-us .contact-us-content a {
    background-color: #ffffff;
    color: #db2319;
    padding: 12px 20px;
    border-radius: 34px;
    font-weight: 700;
}

/* /// FOOTER /// */

footer {
    background-color: #111827;
    padding-top: 40px;
}

.footer-inner {
    padding-bottom: 44px;
}

.footer-items {
    margin: 0 34px;
}

footer img {
    transform: translateY(-40px);
}

.footer-items p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Lato';
}

.w-5:first-child .footer-items ul li a {
    display: inline-block;
    color: #ffffff;
    font-size: 22px;
    margin-right: 8px;
}
.footer-items ul li a:hover{
    color: #db2319;
}
.footer-items h4 {
    font-family: 'Lato';
    font-size: 26px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 18px;
}

.footer-items li a{
    color: white;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    transition: 0.2s all;
}

.footer-items input {
    font-family: 'Lato';
    background-color: #ffffff;
    border: none;
    outline: none;
    padding: 13px 38px 13px 15px;
    display: inline-block;
    border-radius: 22px;
}

.w-5:last-child .footer-items a {
    background-color: #db2319;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    color: white;
    font-size: 16px;
    position: absolute;
    right: -11%;
    top: 58%;
}

.footer-items:first-child {
    margin-right: 50px;
}

.copyright {
    border-top: 1px solid #A09C9C;
    padding: 14px 0;
}

.copyright-items ul li a {
    color: #ffffff;
    font-size: 24px;
    margin: 0 10px;
}

.copyright-items p {
    color: #ffffff;
    font-family: 'Lato';
}

/* /// JQUERY-CSS /// */

header{
    position: relative;
    transition: 0.4s all;
    z-index: 1;
}

.active{
    padding: 10px 0;
    background-color: #ffffff;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    animation: slide 0.6s linear;
}
@keyframes slide{
    0%{
        transform: translateY(-100%);
    }
    
}
.back-to-top{
    background-color: #20277c;
    border-radius: 50%;
    color: #ffffff;
    font-size: 24px;
    padding: 11px 17px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 9;
}